/* reset styles */

  html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
   padding: 0;
   margin: 0;
   font-size: 100%;
   font-weight: normal;
  }
  table { border-collapse: collapse; border-spacing: 0; }
  td, th, caption { font-weight: normal; text-align: left;}
  img, fieldset { border: 0; }
  ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding:0; margin: 0; list-style: none; }
  q:before, q:after { content:''; }


  html { font: 62.5% sans-serif;}

/* end reset */

body {
  width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #aaa;
  border-top: none;
}

.dendogram .tooltip { 
  position: absolute;     
  text-align: left;      
  padding: 3px;       
  font: 10px/12px sans-serif;
  color: #aaa;    
  background: black; 
  border: 0px;   
  pointer-events: none;     
}

.dendogram rect:hover {
  stroke-width: 1px;
  stroke: #000;
}

.dendogram .tooltip .name, .tooltip .value {
  font: 14px/16px sans-serif;
  color: #fff;
}

.dendogram .tooltip .value {
  font: 20px/20px sans-serif;
  text-align: right;
  color: #7adcff;
  font-weight: bold;
}

.dendogram_controls {
  padding-left: 10px;
}

.dendogram_controls li {
  font: 12px/12px arial, sans-serif;
  color: #444;
  border: 1px solid #444;
  margin-right: 5px;
  padding: 3px;
  border-radius: 3px;
  display: block;
  float: left;
  zoom: 1;
  cursor: pointer;
}

.dendogram_controls li:hover, .dendogram_controls li.selected {
  background: #444;
  color: #fff;
}

br {
  clear: both;
}